@import "./colors.module.scss";

.sectionBackground {
  // background-image: linear-gradient(to bottom, #ffffff23, $tealBlue),
  //   url("../public/Background.svg");
	background-position: center;  
	background-size: cover;
  background-repeat: no-repeat;
}
.sectionBtn {
  padding: 1% 0 0 18%;
  float: left;
  &:hover{
    border-color: $white;
    color: $white;
    background-color: $white;
    color: $tealBlue;
  }
}
.sectionProducts {
  padding: 80px 0 0 0%;
}