@import "../../../../styles/colors.module.scss";
.sectionTitle {
  font-size: 20px;
  color: $charcoalBlack;
  font-weight: bold;
  text-align: center;
  padding: 50px 0px 30px 0px;
}
.productSectionBtn {
  margin: 0px 5px;
  border-color: $tealBlue;
  font-weight: bold;
  color: $tealBlue;
  transition: 0.5s;
  &:hover{
    border-color: $white;
    color: $white;
    background-color: $tealBlue;
    color: $white;
  }
}